body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Poppins',
    sans-serif;

}

.page-container {
  text-align: center;
}

/* Header Styling */
.page-header__the {
  background-color: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  margin: 0;
}

.page-header__title {
  background-image: linear-gradient(to right, rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128)100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  margin: 0;
}

/* Form Styling */

.name-input {
  width: 60%;
  height: 20px;
  margin: 10px 0px 30px 0px;
}

.input-label {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 0px;
  font-weight: bolder;
}

.input-label:before,
.input-label:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.input-label:after {
  margin: 0 0 0 20px;
}

/* Button Styling */

.remove-btn {
  color: rgb(0, 0, 0);
  margin-left: 10px;
}

.main-btn {
  font-size: 1em;
  font-weight: bold;
  background: rgb(44, 206, 159);
  padding: 0.5em 0.8em;
  border-radius: 8px;
  margin: 1em 0px;
  transition: opacity 0.25s ease 0s;
}

/* Color Styling */


.color-blue {
  width: 20px;
  height: 20px;
  background-color: blue;
  margin: 5px;
  border-radius: 50%;
}

.color-red {
  width: 20px;
  height: 20px;
  background-color: red;
  margin: 5px;
  border-radius: 50%;

}

.color-green {
  width: 20px;
  height: 20px;
  background-color: green;
  margin: 5px;
  border-radius: 50%;

}

.color-yellow {
  width: 20px;
  height: 20px;
  background-color: yellow;
  margin: 5px;
  border-radius: 50%;
}

.color-purple {
  width: 20px;
  height: 20px;
  background-color: purple;
  margin: 5px;
  border-radius: 50%;
}

.color-brown {
  width: 20px;
  height: 20px;
  background-color: brown;
  margin: 5px;
  border-radius: 50%;
}

.color-orange {
  width: 20px;
  height: 20px;
  background-color: orange;
  margin: 5px;
  border-radius: 50%;
}

.color-pink {
  width: 20px;
  height: 20px;
  background-color: pink;
  margin: 5px;
  border-radius: 50%;
}

.ul-list-names {
  padding: 0;
  max-width: 300px;
}

.li-list-names {
  display: flex;
  align-items: center;
}


.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

/*Settings Page */

.settings-input {
  width: 60%;
  height: 20px;
  margin: 10px 0px 30px 0px;
}

.settings-btn {
  font-size: 1em;
  font-weight: bold;
  background: rgb(44, 206, 159);
  padding: 0.5em 0.8em;
  border-radius: 8px;
  margin: 1em 0px;
}

/* Counting Styling */

.counter-display {
  font-size: large;
  font-weight: bold;
  color: black;
}

.counter-btn {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 0px 5px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  overflow: hidden;
  background-color: #333;
}