body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Poppins',
    sans-serif;
  ;
}

.page-container {
  text-align: center;
}

/* Header Styling */
.page-header__the {
  background-color: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  margin: 0;
}

.page-header__title {
  background-image: linear-gradient(to right, rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128)100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  margin: 0;
}

/* Form Styling */

.input-label {
  display: flex;
  width: 200px;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.input-label:before,
.input-label:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.input-label:after {
  margin: 0 0 0 20px;
}